body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(https://as2.ftcdn.net/v2/jpg/00/93/36/49/1000_F_93364974_eoos8QGsa9CzTa5hGRRL6EutXMSKgdOA.jpg);
    background-size: cover;
    text-align: center;
    padding: 20px;
    margin:0;
    color: white;
    font-weight: bold;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    background: radial-gradient(#2563EB,#4338CA);
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 10px;
}